.social-login
    button.social-login--btn-github
        span
            i.fab.fa-github
        |Continue with Github
    button.social-login--btn-facebook
        span
            i.fab.fa-facebook-square
        |Continue with Facebook
    button.social-login--btn-google
        span
            i.fab.fa-google
        |Continue with Google